<a href="https://colab.research.google.com/github/BarryTeffera/Data-Analysis-Portfolio/blob/main/Commodity_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Commodities Dashboard**
##The purpose of this notebook is to build a commodities dashboard using hvplot and panel to visualize the changes in commodities prices since 2021. Data was collected from Kaggle.
### https://www.kaggle.com/datasets/prasertk/historical-commodity-prices-from-20002022?resource=download

##**Upload libraries**##

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from mpl_toolkits import mplot3d
import matplotlib.pyplot as plt
import pandas_profiling

##**Upload dataset**##

In [ ]:
df = pd.read_csv('/content/commodity 2000-2022.csv')
df

         Symbol        Date     Open     High      Low    Close  Volume
0          Gold  2000-01-04   281.00   281.00   281.00   282.70       4
1          Gold  2000-01-05   283.20   283.20   283.20   281.10      16
2          Gold  2000-01-06   281.40   281.40   281.40   281.40       0
3          Gold  2000-01-07   281.90   281.90   281.90   281.90       0
4          Gold  2000-01-10   281.70   281.70   281.70   281.70       0
...         ...         ...      ...      ...      ...      ...     ...
29930  US Wheat  2022-04-04   989.50  1014.50   984.75  1010.25       0
29931  US Wheat  2022-04-05  1020.50  1074.00  1020.00  1045.25       0
29932  US Wheat  2022-04-06  1049.40  1056.40  1024.25  1041.12       0
29933  US Wheat  2022-04-07  1040.25  1044.50  1017.75  1020.00       0
29934  US Wheat  2022-04-08  1020.00  1054.25  1017.00  1051.50       0

[29935 rows x 7 columns]

###**Perform exploratory data analysis and clean data**

In [ ]:
#I'm trying to figure out the data type that "Date" is. Since it's an object, I have to convert it.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29935 entries, 0 to 29934
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  29935 non-null  object
 1   Date    29935 non-null  object
 2   Open    29935 non-null  float64
 3   High    29935 non-null  float64
 4   Low     29935 non-null  float64
 5   Close   29935 non-null  float64
 6   Volume  29935 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.6+ MB

In [ ]:
#This didn't help much but it's worth noting I checked.

df.describe()

               Open          High           Low         Close        Volume
count  29935.000000  29935.000000  29935.000000  29935.000000  2.993500e+04
mean    2199.912965   2217.497624   2183.193574   2200.980681  5.272722e+04
std     5054.172000   5088.374345   5024.451547   5054.979572  8.280148e+04
min        0.000000      0.000000      0.000000      1.482000  0.000000e+00
25%       48.075000     48.975000     47.265000     48.140000  1.000000e+00
50%      431.300000    435.500000    428.000000    431.400000  1.157100e+04
75%     1165.300000   1173.050000   1158.050000   1168.600000  7.218800e+04
max    81066.500000  86791.500000  81031.500000  81051.500000  1.083978e+06

In [ ]:
matrix = df.corr()
matrix

            Open      High       Low     Close    Volume
Open    1.000000  0.999918  0.999932  0.999878 -0.232116
High    0.999918  1.000000  0.999841  0.999885 -0.232310
Low     0.999932  0.999841  1.000000  0.999892 -0.231875
Close   0.999878  0.999885  0.999892  1.000000 -0.232241
Volume -0.232116 -0.232310 -0.231875 -0.232241  1.000000

In [ ]:
df = df.set_index('Symbol')

In [ ]:
df

                Date     Open     High      Low    Close  Volume
Symbol
Gold      2000-01-04   281.00   281.00   281.00   282.70       4
Gold      2000-01-05   283.20   283.20   283.20   281.10      16
Gold      2000-01-06   281.40   281.40   281.40   281.40       0
Gold      2000-01-07   281.90   281.90   281.90   281.90       0
Gold      2000-01-10   281.70   281.70   281.70   281.70       0
...              ...      ...      ...      ...      ...     ...
US Wheat  2022-04-04   989.50  1014.50   984.75  1010.25       0
US Wheat  2022-04-05  1020.50  1074.00  1020.00  1045.25       0
US Wheat  2022-04-06  1049.40  1056.40  1024.25  1041.12       0
US Wheat  2022-04-07  1040.25  1044.50  1017.75  1020.00       0
US Wheat  2022-04-08  1020.00  1054.25  1017.00  1051.50       0

[29935 rows x 6 columns]

In [ ]:
df1 = df.drop(["Open","High", "Low"], axis = 1)
df1

                Date    Close  Volume
Symbol
Gold      2000-01-04   282.70       4
Gold      2000-01-05   281.10      16
Gold      2000-01-06   281.40       0
Gold      2000-01-07   281.90       0
Gold      2000-01-10   281.70       0
...              ...      ...     ...
US Wheat  2022-04-04  1010.25       0
US Wheat  2022-04-05  1045.25       0
US Wheat  2022-04-06  1041.12       0
US Wheat  2022-04-07  1020.00       0
US Wheat  2022-04-08  1051.50       0

[29935 rows x 3 columns]

In [ ]:
df1[ 'Date']= pd.to_datetime(df1['Date'])
df1

               Date    Close  Volume
Symbol
Gold     2000-01-04   282.70       4
Gold     2000-01-05   281.10      16
Gold     2000-01-06   281.40       0
Gold     2000-01-07   281.90       0
Gold     2000-01-10   281.70       0
...             ...      ...     ...
US Wheat 2022-04-04  1010.25       0
US Wheat 2022-04-05  1045.25       0
US Wheat 2022-04-06  1041.12       0
US Wheat 2022-04-07  1020.00       0
US Wheat 2022-04-08  1051.50       0

[29935 rows x 3 columns]

In [ ]:
df1.info('Date')

<class 'pandas.core.frame.DataFrame'>
Index: 29935 entries, Gold to US Wheat
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    29935 non-null  datetime64[ns]
 1   Close   29935 non-null  float64
 2   Volume  29935 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 1.9+ MB

In [ ]:
df2 = df1[~(df1['Date'] < '2021-01-01')]
df2

               Date    Close  Volume
Symbol
Gold     2021-01-01  1901.60       0
Gold     2021-01-04  1969.40     339
Gold     2021-01-05  1977.60       3
Gold     2021-01-06  1932.30       7
Gold     2021-01-07  1935.50       2
...             ...      ...     ...
US Wheat 2022-04-04  1010.25       0
US Wheat 2022-04-05  1045.25       0
US Wheat 2022-04-06  1041.12       0
US Wheat 2022-04-07  1020.00       0
US Wheat 2022-04-08  1051.50       0

[2044 rows x 3 columns]

In [ ]:
df3 = df2[(df2['Date'] == '2021-01-26')]
df3

                  Date      Close  Volume
Symbol
Gold        2021-01-26   1868.200       9
Palladium   2021-01-26   2324.500       0
Nickel      2021-01-26  18057.000   11229
Brent Oil   2021-01-26     55.910  163201
Natural Gas 2021-01-26      2.656   32233
US Wheat    2021-01-26    665.250   68363

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Gold to US Wheat
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6 non-null      datetime64[ns]
 1   Close   6 non-null      float64
 2   Volume  6 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 364.0+ bytes

In [ ]:
matrix2 = df3.corr()
matrix2
#sns.heatmap(matrix2, annot = True)
#plt.show()

           Close    Volume
Close   1.000000 -0.358861
Volume -0.358861  1.000000

In [ ]:
df3 = df3.drop('Date', axis = 1)

In [ ]:
df3 = df3.astype(float)
df3

                 Close    Volume
Symbol
Gold          1868.200       9.0
Palladium     2324.500       0.0
Nickel       18057.000   11229.0
Brent Oil       55.910  163201.0
Natural Gas      2.656   32233.0
US Wheat       665.250   68363.0

In [ ]:
matrix2 = df3.corr()
matrix2

           Close    Volume
Close   1.000000 -0.358861
Volume -0.358861  1.000000

In [ ]:
df3_t = df3.T
df3_t

Symbol,Gold,Palladium,Nickel,Brent Oil,Natural Gas,US Wheat
Date,2021-01-26 00:00:00,2021-01-26 00:00:00,2021-01-26 00:00:00,2021-01-26 00:00:00,2021-01-26 00:00:00,2021-01-26 00:00:00
Close,1868.2,2324.5,18057.0,55.91,2.656,665.25
Volume,9,0,11229,163201,32233,68363

In [ ]:
df3_t = df3_t.drop('Date')
df3_t

Symbol    Gold Palladium   Nickel Brent Oil Natural Gas US Wheat
Close   1868.2    2324.5  18057.0     55.91       2.656   665.25
Volume       9         0    11229    163201       32233    68363

In [ ]:
df3_t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Close to Volume
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gold         2 non-null      object
 1   Palladium    2 non-null      object
 2   Nickel       2 non-null      object
 3   Brent Oil    2 non-null      object
 4   Natural Gas  2 non-null      object
 5   US Wheat     2 non-null      object
dtypes: object(6)
memory usage: 220.0+ bytes

In [ ]:
df3_t = df3_t.astype(float)
df3_t

Symbol    Gold  Palladium   Nickel  Brent Oil  Natural Gas  US Wheat
Close   1868.2     2324.5  18057.0      55.91        2.656    665.25
Volume     9.0        0.0  11229.0  163201.00    32233.000  68363.00

In [ ]:
df3_t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Close to Volume
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gold         2 non-null      float64
 1   Palladium    2 non-null      float64
 2   Nickel       2 non-null      float64
 3   Brent Oil    2 non-null      float64
 4   Natural Gas  2 non-null      float64
 5   US Wheat     2 non-null      float64
dtypes: float64(6)
memory usage: 220.0+ bytes

In [ ]:
matrix3 = df3_t.corr()
matrix3

Symbol       Gold  Palladium  Nickel  Brent Oil  Natural Gas  US Wheat
Symbol
Gold          1.0        1.0     1.0       -1.0         -1.0      -1.0
Palladium     1.0        1.0     1.0       -1.0         -1.0      -1.0
Nickel        1.0        1.0     1.0       -1.0         -1.0      -1.0
Brent Oil    -1.0       -1.0    -1.0        1.0          1.0       1.0
Natural Gas  -1.0       -1.0    -1.0        1.0          1.0       1.0
US Wheat     -1.0       -1.0    -1.0        1.0          1.0       1.0

In [ ]:
df2

               Date    Close  Volume
Symbol
Gold     2021-01-01  1901.60       0
Gold     2021-01-04  1969.40     339
Gold     2021-01-05  1977.60       3
Gold     2021-01-06  1932.30       7
Gold     2021-01-07  1935.50       2
...             ...      ...     ...
US Wheat 2022-04-04  1010.25       0
US Wheat 2022-04-05  1045.25       0
US Wheat 2022-04-06  1041.12       0
US Wheat 2022-04-07  1020.00       0
US Wheat 2022-04-08  1051.50       0

[2044 rows x 3 columns]

In [ ]:
df2.index.unique()

Index(['Gold', 'Palladium', 'Nickel', 'Brent Oil', 'Natural Gas', 'US Wheat'], dtype='object', name='Symbol')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2044 entries, Gold to US Wheat
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2044 non-null   datetime64[ns]
 1   Close   2044 non-null   float64
 2   Volume  2044 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 128.4+ KB

In [ ]:
df_pre = df2[(df2['Date'] >= '2021-01-01') & (df2['Date'] <= '2021-01-26')]
df_pre

               Date    Close  Volume
Symbol
Gold     2021-01-01  1901.60       0
Gold     2021-01-04  1969.40     339
Gold     2021-01-05  1977.60       3
Gold     2021-01-06  1932.30       7
Gold     2021-01-07  1935.50       2
...             ...      ...     ...
US Wheat 2021-01-20   667.75   66033
US Wheat 2021-01-21   660.75   50212
US Wheat 2021-01-22   634.50   76808
US Wheat 2021-01-25   648.50   64721
US Wheat 2021-01-26   665.25   68363

[110 rows x 3 columns]

In [ ]:
df_pre.T

Symbol,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,Gold,...,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat,US Wheat
Date,2021-01-01 00:00:00,2021-01-04 00:00:00,2021-01-05 00:00:00,2021-01-06 00:00:00,2021-01-07 00:00:00,2021-01-08 00:00:00,2021-01-11 00:00:00,2021-01-12 00:00:00,2021-01-13 00:00:00,2021-01-14 00:00:00,...,2021-01-12 00:00:00,2021-01-13 00:00:00,2021-01-14 00:00:00,2021-01-15 00:00:00,2021-01-19 00:00:00,2021-01-20 00:00:00,2021-01-21 00:00:00,2021-01-22 00:00:00,2021-01-25 00:00:00,2021-01-26 00:00:00
Close,1901.6,1969.4,1977.6,1932.3,1935.5,1856.9,1872.3,1865.1,1875.4,1871.9,...,665.0,660.5,670.0,675.5,672.25,667.75,660.75,634.5,648.5,665.25
Volume,0,339,3,7,2,1,827,246,245,153,...,80416,80724,63304,77447,63501,66033,50212,76808,64721,68363

In [ ]:
df_pre.T = df_pre.T.astype(float)

#matrix4 = df_pre.T.corr()
#matrix4

TypeError: ignored

In [ ]:
# I need to reset the index from df so that I can make commodity a column, time a column, close and volume become rows.

In [ ]:
df2

               Date    Close  Volume
Symbol
Gold     2021-01-01  1901.60       0
Gold     2021-01-04  1969.40     339
Gold     2021-01-05  1977.60       3
Gold     2021-01-06  1932.30       7
Gold     2021-01-07  1935.50       2
...             ...      ...     ...
US Wheat 2022-04-04  1010.25       0
US Wheat 2022-04-05  1045.25       0
US Wheat 2022-04-06  1041.12       0
US Wheat 2022-04-07  1020.00       0
US Wheat 2022-04-08  1051.50       0

[2044 rows x 3 columns]